[push]
  default = current
[user]
  email = supercrabtree@googlemail.com
[core]
  excludesfile = ~/.gitignore
[web]
  browser = google-chrome
[advice]
  statusHints = false
[diff]
  mnemonicprefix = true
	tool = vimdiff
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[alias]
  undo = reset HEAD~1
  peek = !git --no-pager diff @{1}.. && echo '\nCommits' && git --no-pager log @{1}.. --decorate --pretty='%C(yellow)%h %>(14)%Cgreen%cr %C(blue)%s %Creset%cn%C(auto)'
[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
[difftool]
	prompt = false
[commit]
  verbose = true
